// Mixins in here
.buttonMixin (@bradius, @ptop, @pbottom, @pleft, @pright, @fsize, @buttonFont, @bcolor, @buttonColor, @jcontent, @buttonWidth, @buttonFontFamily) {
    border-radius: @bradius;
    padding-top: @ptop;
    padding-bottom: @pbottom;
    padding-left: @pleft;
    padding-right: @pright;
    font-size: @fsize;
    font: @buttonFont;
    background-color: @bcolor;
    color: @buttonColor;
    justify-content: @jcontent;
    width: @buttonWidth;
    font-family: @buttonFontFamily;
    @media @mobile {
        width: 100%;
        text-align: center;
    }
    }


