// Navigation Styles here

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomHeader {
    border-top: 2px dashed silver;
    border-bottom: 2px dashed silver;
}